body{
    background-color:#FFFFFF;
    color:#666666;
    font-family: Verdana, Arial, sans-serif;
}
header{ 
    color:#FFFFFF;
    background:url(images/sunset.jpg) no-repeat right;
    background-color:#000033;
}
nav{
    background-color:#90C7E3;
    font-weight:bold;
    text-decoration: none;
}
h2{
    color:#000033;
}
.Resort{
    color:#5C7FA3;
    font-weight:bold
}
h1,h2,h3{
    font-family: Georgia,Times, serif;
}
h3{
    font-style: Georgia;
    color:#000033;
}
footer{
    font-size:75%;
}
#contact{
    font-size:90%;
}
ul{
    list-style-image:url(images/marker.gif);
}